<p id="notice"><%= notice %></p>

<h1>Listing Short Stories</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @lists.each do |list| %>
      <tr>
        <td><%= list.name %></td>
        <td><%= link_to 'Show', list %></td>
        <td><%= link_to 'Edit', edit_list_path(list) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Short Story', new_list_path %>

<%= render 'footer' %>
