<%= render 'header' %>
<p id="notice"><%= notice %></p>

<p>
  <strong>First name:</strong>
  <%= @user.first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @user.last_name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<p>
  <strong>Links:</strong>
  <% @user.links.split(" ").each do |link| %>
  <%= link_to link, "http://" + link %>
  <% end %>
</p>

<%= link_to 'Edit', edit_path(@user.uri) %> |
<%= link_to 'Back', users_path %>

<%= render 'footer' %>
